* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     overflow-x: hidden;
}


.adicionar_lobinho_section {
     width: 100%;
     min-height: 1036px;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.caixa_adicionar_lobinho {
     width: 958px;
     min-height: 874px;
     border: 1px solid black;
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: space-evenly;
     margin: 50px 0 0;
}

h1 {font-size: 60px;}

.form_adicionar_lobinho {
     display: flex;
     min-width: 761px;
     max-width: 761px;
     flex-direction: column;
     gap: 20px;
}

.organizacao_label {
     display: flex;
     flex-direction: column;
}

.organizacao_label_escrita {font-size: 30px;}

.adicionar_lobinho_nome_idade {
     display: flex;
     justify-content: space-between;
}

input , textarea {
     background: #E6E6E6;
     border: 1px solid #333333;
     height: 39px;
     font-size: 30px;
     padding: 10px;
}

.adicionar_lobinho_nome {width: 560px;}

.adicionar_lobinho_idade {max-width: 177px;}

.adicionar_lobinho_descricao {height: 250px;}

.salvar {
     font-size: 24px;
     background: #2C5680;
     color: white;
     padding: 16px 71px;
     border: 1px solid black;
}