
.banner {

    background-image: url(../images/images_home/imageHomeAtt.svg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner .wrapper{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top: 100px;
}

.wrapper h1{

    font-weight: 700;
    font-size: min(96px, 30vw);
    text-align: center;
    color: #FAFAFA;
}

.wrapper p{
    font-weight: 400;
    font-size: min(30px, 30vw);
    padding: 0 26%;
    text-align: center;
    color: #FAFAFA;
    padding-top: 16px;
}

.wrapper h1::after{
    display: block;
    content:" ";
    width: 34%;
    height: 4px;
    background-color: #FAFAFA;
    top: 4px;
    left: 32%;
    position: relative;
}

.banner_2{

    height: 333px;
    background-color: #2C5680;
}

.wrapper_2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 15px;
    padding: 40px 220px;
}

.wrapper_2 h2{
    
    color: #DEB959;
    font-size: 48px;
    text-align: center;
}

.wrapper_2 p{

    color: #FAFAFA;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}


.banner_3{

    background-color: #333333;
    height: 625px;
}

.wrapper_3{

    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 220px;
    gap: 20px;
}

.titulo_valores{

    color: #DEB959;
    font-size: 48px;
    text-align: center;
    font-family: "Darker Grotesque";
}

.valores_box_pai{

    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 428px;
    padding: 0px 221px;
    gap: 45px;
}

.box_valores{

    height: 428px;
    min-width: 195px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.fundo_image_box{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 190px;
    min-width: 190px;
    background-color: #FAFAFA;
    border-radius: 100%;
}

.images_box_valores{
    
    min-width: 129px;
}

.box_valores h3{

    display: block;
    text-align: center;
    font-size: 34px;
    color: #FAFAFA;
    font-family: "Darker Grotesque";
}

.box_valores p{
    
    display: block;
    text-align: center;
    font-size: 23px;
    color: #FAFAFA;
    font-family: "Darker Grotesque";
}