@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.middle_section {
    flex-grow: 1;
}

.title_quem_somos {
    display: flex;
    font-family: "Roboto", "serif";
    font-size: 48px;
    line-height: 56.25px;
    justify-content: center;
    width: 100vw;
    height: 56px;
    margin-top: 50px;
}

.text_quem_somos {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 134px;
    text-align: center;
    margin-top: 30px;
}

.main_text {
    width: 960px;
    height: 134px;
    font-size: 24px;
    line-height: 32.54px;
    letter-spacing: 4px;
}