@import url('https://fonts.googleapis.com/css2?family=Alata&family=Darker+Grotesque:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Darker Grotesque", sans-serif;
}

/************CABECALHO*************/
.cabecalho {

    background-color: #85CDF5;
    width: 100%;
    height: 130px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.cabecalho_texto{

    text-wrap: nowrap;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    color: #333333;
}

.cabecalho_icone{

    width: 96px;
    height: 111px;
}

/*****VER SE VALE A PENA*********/
.cabecalho_icone:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.cabecalho_texto::after{
    display: block;
    content:"";
    width: 0%;
    height: 4px;
    background-color: #333333;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
.cabecalho_texto:hover::after{
    width: 100%;
}

.footer {
    display: flex;
    width: 100vw;
    height: 275px;
    background-color: #333333;
    justify-content: space-between;
    overflow: hidden;
}

.left_sub_footer {
    display: flex;
    width: 660px;
    justify-content: space-between;
    margin-top: 51px;
    margin-left: 219px;
}

.right_sub_footer {
    display: flex;
    flex-direction: column;
    margin-top: 51px;
    margin-right: 221px;
    align-items: center;
    gap: 8px;
}

.icons {
    width: 20px;
    height: 20px;
}

.footer_descricao {
    max-width: 378px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
    
}
.contato {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 168px;
    width: 378px;
}

.footer_text {
    line-height: 15px;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.footer_button {
    display: flex;
    background-color: #DEB959;
    color: #353535;
    width: 144px;
    height: 30px;
    margin-top: 0px;
    font-size: 25px;
    font-weight: 700;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    border: 0;
}

.gradient_line {
    width: 100vw;
    height: 5px;
    background: linear-gradient(270deg, #2C5680 0%, #DEB959 100%);
}

.main_footer {
    bottom: 0;
}

.middle_section {
    display: flex;
    flex-direction: column;
    height: 340px;
    width: 100vw;
    background-color: white;
}

.title_quem_somos {
    display: flex;
    font-family: "Roboto", "serif";
    font-size: 48px;
    line-height: 56.25px;
    justify-content: center;
    width: 100vw;
    height: 56px;
    margin-top: 50px;
}

.text_quem_somos {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 134px;
    text-align: center;
    margin-top: 30px;
}

.main_text {
    width: 960px;
    height: 134px;
    font-size: 24px;
    line-height: 32.54px;
    letter-spacing: 4px;
}